.AutomaticAnnotationToolbox {
    opacity: .9;
    background: $colorLightBlue;
    width: $toolbarWidth;
    padding: $mainControlPadding;
    border-top-right-radius: $mainBorderRadius;
    border-bottom-right-radius: $mainBorderRadius;
}

.AAToolbox-Row {
    color: white;
    border: none;
    outline: none;
    padding: 5px;
    font-weight: 300;
    font-size: larger;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;

    input[type="text"] {
        width: 100%;
    }
}

.AAToolbox-Row.MenpoMessage {
    color: black;
    background-color: white;
    font-size: medium;
    text-align: center;
}

.AAToolbox-Row-Item {
    flex: 1;

    &:first-of-type {
        text-transform: uppercase;
        font-weight: bold;
        font-size: medium;
        text-align: left;
    }
}

.AAToolbox-Row-Item.CancelButtonRow {
    button {
        background-color: $colorRed;
    }
}

.AAToolbox-Field {

    &:hover {
        background: $colorBlue;
        cursor: pointer;
    }
}
