@charset "UTF-8";
button,
.Button, .Notification__Action, .TopBar, .ModalsWrapper, .ModalWindow, .ModalWindow__Close, .ModalWindow__Content > input, .ListPicker li, .ConfirmAction, .ConfirmAction--Yes, .ConfirmAction--No, .AssetInfo > .AssetIndex input, .AssetInfo > .BackendName > span:last-of-type, .RightSidebar-Template, .RightSidebar-UndoRedo > div, .Lm, .IntroItem, .DropboxSelectExplore .Action span, .DropboxSelectSubmit > div, li.DropboxSelectListItem > span, .DropboxRadio label,
.DropboxRadio input,
.DropboxRadio span {
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out; }

html {
  height: 100%;
  overflow: hidden; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400; }

.Viewport {
  cursor: crosshair; }
  .Viewport.LoadingCursor {
    cursor: wait; }

p.Error, .IntroWarning {
  color: #c0392b;
  font-weight: bold; }

button,
.Button {
  border: none;
  background: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  outline: none;
  width: 100%;
  min-height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: large;
  cursor: pointer; }

.Button-Basic,
.Button-Save,
.Button-Danger,
.Button-Info {
  color: white;
  text-transform: uppercase;
  font-size: medium; }

.Button-Basic#help {
  font-size: 1em;
  cursor: help; }

.Button-Basic {
  background: #0a4eb2; }
  .Button-Basic:hover {
    background: #1e8bc3; }

.Button-Save {
  background: #4bb666; }
  .Button-Save:hover {
    background: #1e824c; }
  .Button-Save.Active::before {
    content: '•';
    color: #ed493d;
    font-size: 2.75em;
    vertical-align: top;
    position: absolute;
    left: 12px; }

.Button-Info {
  background: #9a5cb4; }
  .Button-Info:hover {
    background: #8d48ab; }

.Button-Danger {
  background: #ed493d; }
  .Button-Danger:hover {
    background: #c0392b; }

button:disabled,
.Button--Disabled {
  opacity: .33;
  cursor: default; }

.Viewport, .FullScreen {
  width: 100vw;
  height: 100vh; }

.ModalCentreFlex, .App-Flex-Vert {
  min-width: 100vw;
  min-height: 100vh; }

.Viewport {
  position: absolute;
  top: 0;
  -webkit-overflow-scrolling: touch;
  /* prevent scrolling on mobile safari */ }

.Viewport > canvas {
  z-index: 1; }

.FullScreen {
  position: fixed;
  top: 0;
  left: 0; }

.ModalCentreFlex {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none; }

.App-Flex-Vert {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.App-Flex-Horiz {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-between; }

.App-Flex-LeftCol,
.App-Flex-RightCol {
  flex: 4; }

.App-Flex-Pager {
  flex: 1; }

.Pager {
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .Pager > div {
    width: 75px;
    z-index: 2; }

.RightSidebar,
.LeftSidebar {
  display: flex;
  text-align: center; }
  .RightSidebar > div,
  .LeftSidebar > div {
    z-index: 2; }

.NotificationWrapper {
  z-index: 5;
  display: flex;
  flex-direction: column; }

.Notification {
  display: block;
  min-width: 256px;
  width: auto;
  max-width: 512px;
  margin: .4em auto;
  padding: 1em;
  animation-name: notification-open;
  animation-duration: 1s;
  text-align: center;
  pointer-events: auto;
  opacity: .95;
  color: white;
  border-radius: 2px;
  font-size: large;
  cursor: pointer; }
  .Notification > p {
    margin: 1em 0; }
  .Notification a {
    color: white; }
  .Notification > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }

.Notification--Permanent {
  cursor: default; }

.Notification__Action {
  padding: 0 1em;
  height: 44px;
  line-height: 44px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer; }
  .Notification__Action:hover {
    background: rgba(255, 255, 255, 0.25); }

.Notification--Closing {
  animation-name: notification-close;
  animation-duration: 1s;
  opacity: 0; }

.Notification--Warning {
  background-color: #ffb530; }

.Notification--Success {
  background-color: #4bb666; }

.Notification--Error {
  background-color: #ed493d; }

@keyframes notification-open {
  0% {
    opacity: 0; }
  100% {
    opacity: .95; } }

@keyframes notification-close {
  0% {
    opacity: 0.95; }
  100% {
    opacity: 0; } }

.TopBar {
  pointer-events: auto;
  min-height: 38px;
  line-height: 38px;
  background-color: #ed493d;
  color: white;
  text-align: center;
  padding: 0 1%;
  width: 100%;
  display: none;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 5; }
  .TopBar.Display {
    display: block;
    opacity: 1;
    visibility: visible; }
  .TopBar.Info {
    background-color: #59abe3; }

.CornerSpinner {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background: #59abe3;
  transition: transform 0.3s;
  transform: translateX(100%) translateY(-100%) rotate(45deg);
  pointer-events: none;
  z-index: 5; }
  .CornerSpinner.Display {
    transform: translateX(50%) translateY(-50%) rotate(45deg); }
  .CornerSpinner::before,
  .CornerSpinner::after {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: ''; }
  .CornerSpinner::before {
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-right-color: rgba(0, 0, 0, 0.5);
    border-left-color: rgba(0, 0, 0, 0.5);
    animation: rotation 3s linear infinite; }
  .CornerSpinner::after {
    bottom: 50px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(0, 0, 0, 0.5);
    animation: rotation 1s linear infinite; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

.ModalsWrapper {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: auto;
  justify-content: flex-start;
  opacity: 0;
  visibility: hidden; }

.ModalsWrapper--Open {
  opacity: 1;
  visibility: visible; }

.ModalWindow {
  margin-top: 64px;
  background: white;
  border-radius: 3px;
  width: 96%;
  max-width: 640px;
  position: relative;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  display: none; }
  .ModalWindow, .ModalWindow * {
    box-sizing: border-box; }

.ModalWindow--Small {
  width: auto; }

.ModalWindow--Open {
  opacity: 1;
  visibility: visible;
  overflow: auto;
  display: block; }

.ModalWindow__Close {
  cursor: pointer;
  position: absolute;
  font-weight: bold;
  top: .75em;
  right: 1em;
  color: #333; }
  .ModalWindow__Close:hover {
    color: #ed493d; }

.ModalWindow__Content,
.ModalWindow__Title {
  padding: 1em; }

.ModalWindow__Title {
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.2em;
  font-weight: medium;
  padding-right: 2em; }

.ModalWindow__Content > input, .ModalWindow__Content p {
  margin: 2%; }

.ModalWindow__Content > input {
  margin: 2%;
  padding: 0 0.5em;
  line-height: 48px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  outline: none;
  width: 96%;
  font-size: 1.2em; }
  .ModalWindow__Content > input:active,
  .ModalWindow__Content > input:focus {
    border: 1px solid #59abe3; }

.ListPicker {
  box-shadow: 0 -48px 48px -48px rgba(0, 0, 0, 0.4) inset;
  padding: 0; }
  .ListPicker ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 512px;
    overflow: scroll; }
  .ListPicker li {
    line-height: 48px;
    max-height: 256px;
    padding: 0 1em;
    cursor: pointer;
    border-bottom: solid 1px #e5e5e5;
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0); }
    .ListPicker li:hover {
      background-color: #e5e5e5; }
    .ListPicker li.Hidden {
      opacity: 0;
      visibility: hidden;
      max-height: 0;
      border: none; }

.ConfirmDialog {
  padding: 0;
  min-width: 256px;
  max-width: 380px; }
  .ConfirmDialog > p {
    padding: 2em;
    margin: 0;
    line-height: 1.4; }

.ConfirmActions {
  display: flex;
  flex-flow: row; }

.ConfirmAction, .ConfirmAction--Yes, .ConfirmAction--No {
  color: white;
  flex: 1;
  cursor: pointer;
  text-align: center;
  height: 46px;
  line-height: 46px; }

.ConfirmAction--Yes {
  background: #4bb666; }
  .ConfirmAction--Yes:hover {
    background: #1e824c; }

.ConfirmAction--No {
  background: #ed493d; }
  .ConfirmAction--No:hover {
    background: #c0392b; }

.LeftSidebar {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }

.AssetInfo > .BackendName,
.AssetInfo > button {
  margin: 0;
  width: inherit;
  font-weight: normal;
  height: 36px;
  line-height: 36px; }

.AssetInfo > button {
  display: block;
  text-align: left;
  background: rgba(255, 255, 255, 0.85); }
  .AssetInfo > button:hover {
    background-color: #e5e5e5; }
  .AssetInfo > button.Disabled {
    cursor: default;
    color: #919191; }
    .AssetInfo > button.Disabled:hover {
      background-color: rgba(255, 255, 255, 0.85); }
  .AssetInfo > button span.label {
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    margin-right: .2em; }
    .AssetInfo > button span.label::after {
      content: ':'; }

.AssetInfo > .AssetIndex input {
  display: inline;
  padding: 0 0.5em;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  outline: none;
  line-height: 24px;
  width: 5em; }
  .AssetInfo > .AssetIndex input:active,
  .AssetInfo > .AssetIndex input:focus {
    border: 1px solid #59abe3; }

.AssetInfo > .BackendName {
  color: white; }
  .AssetInfo > .BackendName:hover {
    cursor: pointer; }
  .AssetInfo > .BackendName > span,
  .AssetInfo > .BackendName::before {
    background: #282c34;
    float: left;
    height: 36px;
    line-height: 36px;
    text-align: center; }
  .AssetInfo > .BackendName > span.content {
    padding: 0 0.75em; }

.AssetInfo > .BackendName--Dropbox > span.content,
.AssetInfo > .BackendName--Dropbox::before {
  background-color: #007ee5; }

.AssetInfo > .BackendName--Dropbox::before {
  content: '';
  background-size: cover;
  background-image: url(img/dropbox-white.svg);
  width: 28px; }

.AssetInfo > .BackendName--Server > span:first-of-type {
  width: 28px;
  font-size: larger; }

.AssetInfo > .BackendName > span:last-of-type {
  background: #ed493d;
  width: 36px; }

.AssetInfo > .BackendName:hover > span:last-of-type {
  background: #c0392b; }

.Toolbar {
  opacity: .9;
  background: #a3b9db;
  width: 196px;
  padding: .4em; }

.Toolbar-Row {
  color: white;
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  font-weight: 300;
  font-size: larger;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center; }

.Toolbar-Row-Item {
  flex: 1; }
  .Toolbar-Row-Item:first-of-type {
    text-transform: uppercase;
    font-weight: bold;
    font-size: medium;
    text-align: left; }

.Toolbar-Slider {
  padding-left: .4em; }

.Toolbar-Row--Disabled {
  pointer-events: none;
  opacity: 0.3; }

.onoffswitch {
  position: relative;
  margin: 0;
  float: right;
  width: 80px;
  user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px; }

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.15s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-sizing: border-box; }

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #0a4eb2;
  color: white;
  text-align: left; }

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: white;
  color: #919191;
  text-align: right; }

.onoffswitch-switch {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background: #e5e5e5;
  position: absolute;
  top: 5px;
  bottom: 0;
  right: 56px;
  transition: all 0.15s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 5px; }

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #e5e5e5;
  width: auto;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-moz-focus-outer {
  border: 0; }

input[type="range"]::-webkit-slider-thumb {
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  background-color: #0a4eb2;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer; }
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #9a5cb4; }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.2); }

input[type=range]::-moz-range-thumb {
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  background-color: #0a4eb2;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer; }
  input[type=range]::-moz-range-thumb:hover {
    background-color: #9a5cb4; }
  input[type=range]::-moz-range-thumb:active {
    transform: scale(1.2); }

input[type=range]::-ms-thumb {
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  background-color: #0a4eb2;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer; }
  input[type=range]::-ms-thumb:hover {
    background-color: #9a5cb4; }
  input[type=range]::-ms-thumb:active {
    transform: scale(1.2); }

.RightSidebar {
  flex-direction: column-reverse;
  align-items: flex-end; }
  @media screen and (max-width: 650px) {
    .RightSidebar {
      display: none; } }

.RightSidebar > div {
  width: 100%;
  max-width: 300px; }

.RightSidebar-Controls,
.RightSidebar-LandmarksPanel,
.RightSidebar-Header {
  display: flex;
  opacity: .9; }

.RightSidebar-Template {
  min-height: 40px;
  line-height: 40px;
  background: #0a4eb2;
  color: white;
  cursor: pointer;
  font-size: large;
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 1px;
  margin-bottom: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .RightSidebar-Template:hover {
    background: #1e8bc3; }
  .RightSidebar-Template.Disabled {
    cursor: default;
    background: #0a4eb2; }

.RightSidebar-UndoRedo > div {
  min-height: 40px;
  line-height: 40px;
  width: 40px;
  background: #9a5cb4;
  color: white;
  float: left;
  margin-left: 1px;
  margin-bottom: 1px;
  cursor: pointer; }
  .RightSidebar-UndoRedo > div:last-of-type {
    transform: scale(-1, 1); }
  .RightSidebar-UndoRedo > div:hover {
    background: #8d48ab; }
  .RightSidebar-UndoRedo > div.Disabled {
    cursor: default;
    background: #919191; }

/* Special RightSidebar item used for rows (e.g. two buttons).
is itself a row flexbox */
.RightSidebar-Controls {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 40px; }
  .RightSidebar-Controls.Hide {
    display: none; }

.RightSidebar-Controls-Item {
  flex: 2;
  margin-left: 1px;
  margin-bottom: 1px; }
  .RightSidebar-Controls-Item:last-of-type {
    flex: 1; }

/* Landmarks selector */
.RightSidebar-LandmarksPanel {
  flex-direction: column;
  cursor: pointer; }

.LmGroup {
  position: relative; }

.LmGroup-Label,
.LmGroup-Flex {
  width: 100%;
  height: 100%; }

.LmGroup-Label {
  position: absolute;
  top: 0;
  z-index: 1;
  pointer-events: none;
  font-size: larger;
  color: white; }

.LmGroup-Label--Active {
  font-weight: 700; }

.LmGroup-Flex {
  display: flex;
  align-items: center; }

.Lm {
  opacity: .5;
  flex: 1;
  height: 30px;
  margin-left: 1px;
  margin-bottom: 1px; }
  .Lm:hover {
    opacity: .75; }

.Lm-Empty {
  background: #919191; }

.Lm-Value {
  background: #0a4eb2; }

.Lm-Selected {
  background: #9a5cb4; }

.Lm-NextAvailable {
  background: #ffb530; }

.HelpOverlay {
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  cursor: pointer;
  pointer-events: auto;
  width: 100%;
  height: 110%;
  align-items: center;
  justify-content: center; }
  .HelpOverlay.Display {
    display: flex; }

.HelpContentTable {
  border-collapse: collapse;
  background: white;
  padding: 10px; }
  .HelpContentTable td {
    padding: 8px; }
  .HelpContentTable tr td:first-of-type {
    background: #0a4eb2;
    color: white;
    font-weight: bold;
    text-align: right; }
  .HelpContentTable tr.title {
    text-transform: uppercase;
    font-weight: bolder; }
    .HelpContentTable tr.title td {
      text-align: left; }

.Intro {
  padding: 0;
  pointer-events: auto; }
  .Intro h1,
  .Intro h3 {
    text-align: center; }
  .Intro h3 {
    color: #919191; }

.IntroItems {
  margin-top: 1em;
  padding: 1em;
  border-top: 1px dashed #e5e5e5; }

.IntroItem {
  width: 320px;
  margin: 1.5em;
  height: 64px;
  line-height: 64px;
  cursor: pointer;
  border-radius: 2px;
  background-color: white;
  border: 1px solid #282c34;
  color: white;
  background-color: #282c34;
  justify-content: center;
  font-weight: 300;
  display: flex;
  flex-flow: row no-wrap; }
  .IntroItem > span,
  .IntroItem::before {
    transition: border-color 0.2s ease-in-out;
    height: 61px;
    width: 61px;
    line-height: 64px;
    vertical-align: center;
    display: inline-block;
    font-size: xx-large;
    text-align: center;
    border-right: 1px solid #919191;
    text-align: center; }
  .IntroItem > div {
    flex: 1;
    margin-left: 1em; }
  .IntroItem:hover {
    background-color: white;
    color: #282c34; }
    .IntroItem:hover > span,
    .IntroItem:hover::before {
      border-color: #282c34; }

.IntroItem--Dropbox {
  border-color: #007ee5;
  background-color: #007ee5; }
  .IntroItem--Dropbox::before {
    content: '';
    background-size: cover;
    border-color: #cde5f9;
    background-image: url(img/dropbox-white.svg); }
  .IntroItem--Dropbox:hover {
    background-color: white;
    color: #007ee5; }
    .IntroItem--Dropbox:hover::before {
      border-color: #007ee5;
      background-image: url(img/dropbox-blue.svg); }

.IntroItem--Demo {
  border-color: #4bb666;
  background-color: #4bb666; }
  .IntroItem--Demo:hover {
    color: #4bb666; }

.IntroWarning {
  width: 320px;
  margin: 1.5em; }

.DropboxSelect {
  display: flex;
  flex-direction: column;
  padding: 0; }

.DropboxSelectExplore,
.DropboxSelectList,
.DropboxSelectSubmit {
  width: 100%;
  display: flex;
  padding: 0; }

.DropboxSelectExplore,
.DropboxSelectSubmit {
  flex-flow: row;
  height: 44px;
  line-height: 44px; }

.DropboxSelectExplore {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row; }
  .DropboxSelectExplore .Action {
    width: 38px;
    line-height: 44px;
    text-align: center;
    cursor: pointer; }
    .DropboxSelectExplore .Action span {
      display: inline-block;
      width: 28px;
      height: 28px;
      line-height: 28px;
      border-radius: 2px;
      background: #e5e5e5;
      color: #919191; }
    .DropboxSelectExplore .Action:hover span {
      color: white;
      background: #007ee5; }
    .DropboxSelectExplore .Action.Unavailable {
      display: none; }
  .DropboxSelectExplore .Path {
    padding: 0 8px;
    flex: 1; }

.DropboxSelectSubmit {
  line-height: 52px;
  height: 52px; }
  .DropboxSelectSubmit > span, .DropboxSelectSubmit > div {
    background: #e5e5e5;
    padding: 0 8px; }
  .DropboxSelectSubmit > span {
    flex: 3;
    color: #4bb666;
    font-weight: bold; }
    .DropboxSelectSubmit > span.Empty {
      color: #ed493d; }
  .DropboxSelectSubmit > div {
    flex: 1;
    background: #007ee5;
    color: white;
    cursor: pointer;
    text-align: center; }
    .DropboxSelectSubmit > div:hover {
      color: #cde5f9; }

.DropboxSelectList {
  max-height: 640px;
  overflow: scroll; }
  .DropboxSelectList.Empty {
    justify-content: space-between;
    padding: 16px; }
  .DropboxSelectList > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: flex-start; }

li.DropboxSelectListItem {
  margin: 12px 5px;
  padding: 0 auto;
  width: 96px;
  line-height: auto;
  text-align: center;
  cursor: pointer;
  word-wrap: break-word; }
  li.DropboxSelectListItem > span {
    display: block;
    width: 64px;
    height: 64px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    color: #919191;
    text-align: center;
    line-height: 64px;
    margin: 0 auto 12px auto;
    font-size: large; }
  li.DropboxSelectListItem:hover > span,
  li.DropboxSelectListItem.Selected > span {
    border-color: #007ee5; }
  li.DropboxSelectListItem.Selected > span {
    background-color: #007ee5;
    color: white; }
  li.DropboxSelectListItem.Disabled > span {
    opacity: .75;
    background: #e5e5e5;
    border-color: #e5e5e5;
    color: #919191;
    cursor: default; }

.DropboxRadios {
  width: 100%;
  border-bottom: 1px solid #e5e5e5; }

.DropboxRadio {
  width: 100%;
  margin: 0;
  padding: 0 1em;
  height: 44px;
  line-height: 44px;
  display: flex; }
  .DropboxRadio > label {
    flex: 1;
    text-align: center; }
    .DropboxRadio > label:hover {
      cursor: pointer; }
      .DropboxRadio > label:hover span {
        color: #007ee5; }
  .DropboxRadio input:checked ~ span {
    color: #007ee5; }
